body {
    background-color: powderblue;}

    #container {
    display:flex ;}


.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}


footer {
    background-color: yellow;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}