body {
    background-color: powderblue;}

    #container {
    display:flex ;}

    .cartao {
    margin: 1rem 1rem;}

footer {
    background-color: yellow;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
}